.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background: url('/images/homepage/kub5.png') 10% 0% no-repeat,
                url('/images/homepage/triagle2block.png') 90% 70% no-repeat,
                url('/images/homepage/triagleform.png') 30% 90% no-repeat,
                url('/images/homepage/triagle2form.png') 70% 90% no-repeat;
    color: white;
    padding: 3em 0;
}
.contacts {
    width: 30%;
    height: 300px;
    margin-top: 100px;
    background-color: #F15A03;
    text-align: center;
}
.form {
    width: 30%;
    height: 450px;
    color: black;
    background-color: #fff;
}

.input, .form form textarea {
    display: block;
    width: 80%;
    margin-left: 10%;
    border: 1px solid #F15A03;
    margin-top: 20px;
    padding-left: 20px;
    line-height: 2em;
    font-size: 1.2em;
    font-family: Menlo;
    font-weight: bolder;
}
input.area {
    height: 20em;
}


.form form h4, .contacts h4 {
    font-family: Menlo;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

input.submit{
    position: relative;
    width: 50%;
    height: 2em;
    margin-left: 25%;
    margin-top: 10%;
    background-color: #F15A03;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}
input.submit:focus{
    outline: none;
}

.contacts p {
    display: flex;
    margin-left: 2em;
    align-items: center;
    font-size: 1.2em;
    font-weight: bolder;
    text-shadow: 2px 2px 10px black;
}
.contact {
    margin-left: 2em;
}
.error{
    position: absolute;
    color: red;
    font-family: Menlo;
    margin-left: 15em;
    margin-top: -2em;
}

@media(max-width: 1260px){
    .contacts{
        width: 40%;
    }
    .form {
        width: 40%;
    }
}
@media(max-width: 920px){
    .contacts{
        width: 45%;
    }
    .form {
        width: 45%;
    }
}
@media(max-width: 800px){
    .wrapper {
        display: block;
    }
    .contacts{
        display: none;
    }
    .form {
        width: 90%;
        margin-left: 5%;
        margin-top: -5%;
    }
    .form form h4 {
        padding-top: 1em;
    }
    input.submit{
        margin-top: 8%;
    }
}