html,
body {
  padding: 0;
  margin: 0;
  background-color: #272732;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: #FFFFFF;
    font-family: Menlo;
    user-select: none;
}
.menuActive{
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h2 {
  font-family: Menlo;
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  line-height: 49px;
  color: #FFFFFF;
  text-align: center;
  
}
